doctype html
html
  head
    title= title

    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/libraries/bootstrap/bootstrap3.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='fairApp')
    block content